<%- include('partials/clientHeader') %>
<div class="row client-main-container">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h3><%=task.clientName%>:</h3>
      </div>
      <div class="card-body">
        <form  action="/editEmpInfo" method="POST">

          <div class="form-group">
            <input type="hidden" id="empId" name="empId" value="<%=task._id%>">

            <label for="employeeName">Task:</label>
            <input type="text" class="form-control" name="firstname" id="firstname" required value="<%=task.task%>">

            <label for="employeeName">Employee Assigned:</label>
            <input type="text" class="form-control" name="lastname" id="lastname" required value="<%=task.employeeAssigned%>">


            <label for="employeeName">Date of Assign:</label>
            <input type="text" class="form-control" name="aadharNumber" id="aadharNumber" required value="<%=task.date%>">

            <label for="employeeName">Status:</label>
            <input type="text" class="form-control" name="address" id="address" required value="<%=task.status%>" disabled>

            <label for="employeeName">Deadline:</label>
            <input type="date" class="form-control" name="city" id="city" required value="<%=task.deadline%>">

            <label for="employeeName">Remarks:</label>
            <input type="text" class="form-control" name="state" id="state" required value="<%=task.remarks%>">



            <div class="form-group">
              <p>
                <input class="btn btn-dark" type="reset" value="Reset all">
                <input class="btn btn-dark" type="submit" value="Submit">
              </p>
            </div>

          </div>


        </form>
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer') %>
