<%- include('partials/partnerHeader') %>



<div class="jumbotron centred partner-home-container">
  <div class="dashboard-heading"><h1>Employee dashboard</h1></div>
  <div id="partner-home-header">
  
  
    <div class="greetings">
      <h3>Welcome! Mr. <%=name %> </h3>
      <p><i class="fas fa-user"></i>  User email: <%=email %></p>
    </div>
  </div>
</div>


<section id="allTasks">
  <div id="all-tasks-container">
    <h1>Task details </h1>
    <p><a href="/assigned-task/<%= userId%>">View all Tasks >></a></p>
    
    <hr>

    <div id="table-container"></div>
    <table>
      <thead>
        <tr>
          <th style="min-width: 10%">Date </th>
          <th style="min-width: 20%">Task </th>
          <th style="min-width: 20%">Client </th>
          <th style="min-width: 10%">Deadline </th>
          <th style="min-width: 25%">Status </th>
        </tr>
      </thead>

      <% for(var i=taskList.length-1;i>=0;i--){ %>
      

        <tbody>
          <tr>
            <td><%= taskList[i].date %> </td>
            <td><%= taskList[i].task %> </td>
            <td><%= taskList[i].clientName %> </td>
            <td><%= taskList[i].deadline %></td>
            <td><%= taskList[i].status %> </td>
          </tr>
        </tbody>


        <% } %>


      
    </table>
  </div>
</section>

<hr>
  
<%- include('partials/footer') %>
