<%- include('partials/partnerHeader') %>


<div class="jumbotron centred partner-home-container">
<div class="dashboard"><h1>Partner dashboard</h1></div>
<div id="partner-home-header">


  <div class="greetings">
    <h3>Welcome! Mr. <%=name %> </h3>
    <p>Hope you're doing well? Have a great day at work..</p>
    <a href="/register-client"><h5>Register a client >></h5></a>
    <a href="/register"><h5>Register associates >></h5></a>
  </div>


  <div class="dropdown dropdown-container">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Visit Clients
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
  
      <% for(var i=0; i<arr.length; i++ ){ %>
          <li>
  
            <a href="/clients/<%= arr[i]._id %>" > <%= arr[i].companyName %> </a>
          </li>
  
  
    <%  } %>
  
    </ul>
  </div>

</div>

  

</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


<a href="/register-client"><h2>Register a client</h2></a>



<%- include('partials/footer') %>



<%- include('partials/footer') %>

